@import "tailwindcss";
@tailwind utilities;

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(86% 0.022 252.894);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(98% 0.003 247.858);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(58% 0.158 241.966);
  --color-primary-content: oklch(95% 0.026 236.824);
  --color-secondary: oklch(55% 0.288 302.321);
  --color-secondary-content: oklch(94% 0.033 307.174);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(12% 0.042 264.695);
  --color-neutral-content: oklch(92% 0.013 255.508);
  --color-info: oklch(82% 0.111 230.318);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(58% 0.158 241.966);
  --color-primary-content: oklch(95% 0.026 236.824);
  --color-secondary: oklch(55% 0.288 302.321);
  --color-secondary-content: oklch(94% 0.033 307.174);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(12% 0.042 264.695);
  --color-neutral-content: oklch(92% 0.013 255.508);
  --color-info: oklch(82% 0.111 230.318);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@layer base {
  html body {
    /* font-family: "Roboto"; */
  }
  h1 {
    @apply mt-2 text-5xl font-bold text-gray-950 dark:text-white;
  }
  h2 {
    @apply mt-2 text-3xl font-medium text-gray-950 dark:text-white;
  }
  p {
    @apply mt-6 text-base/7 text-gray-700 dark:text-gray-400;
  }
}
