package basic

templ Dropdown(text string) {
	<details class="dropdown">
	  <summary class="btn m-1">{ text }</summary>
	  <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
	    { children... }
	  </ul>
	</details>
}
