package components

templ HeaderTemplate(name string) {
	<header>
		<script src="/assets/js/htmx.min.js"></script>
		<link rel="stylesheet" href="/static/css/output.css"/>
		<h1>{ name }</h1>
	</header>
}
