package components

templ Head(title string) {
	<head>
		<title>{ title }</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="/static/js/htmx.min.js"></script>
		<link rel="stylesheet" href="/static/css/output.css"/>
	</head>
}
