package pages

import "mnesis.com/frontend/components/layout"

templ Contact() {
	@layout.Base() {
		<div class="px-4 pt-10 pb-24 sm:px-6 xl:pr-0">
			<h1>Contact Us</h1>
			<p>Feel free to reach out to us at:</p>
			<ul>
				<li>Email: support@mnesis.com</li>
				<li>Phone: +1 (555) 123-4567</li>
				<li>Address: 123 Main St, Anytown, USA</li>
			</ul>
		</div>
	}
}
