package layout

import "mnesis.com/frontend/components/meta"
import "mnesis.com/frontend/components/navigation"

templ Base() {
	<html lang="en" suppressHydrationWarning>
		@meta.Head("Letisgo")
		@meta.Body("Inter") {
			@Header(){
				@navigation.Navbar([]navigation.Page{
					{Title: "Home", Link: "/"},
					{Title: "About", Link: "/about"},
					{Title: "Contact", Link: "/contact"},
				})
			}
			@Content() {
				{ children... }
			}
			@Footer()
		}
	</html>
}
