package navigation

import "mnesis.com/frontend/components/positioning"

type Page struct {
	Title string
	Link  templ.SafeURL
}

templ Navbar(pages []Page) {
	<nav>
		@positioning.Row(){
			@NavbarBrand("Letisgo")
			<div>
				for _, page := range pages {
					@NavbarItem(page.Link, page.Title)
				}
			</div>
			@Access()
		}
	</nav>
}
